*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{  
    width: 100%;
    background-color: #ffffff00;
}

::-webkit-scrollbar {
    width: 8px; 
    
    }

::-webkit-scrollbar-thumb {
background: #A9A9A9; 
border-radius: 10px;
}

::-webkit-scrollbar-track {
background: #f1f1f1; 
}

section.forgot-sec{
    height: 85vh;
    width: 100%; 
 /*   border: 3px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-sec .forgot-container{
    height: auto;
    width: 30%;
    border-radius: 10px;    
    border: solid #36f90f ; 
    padding: 1.1em;
}

.forgot-title{
    width: 100%;
    height: auto;
   /* border: 3px solid pink;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-title label{
    height: 12%;
    width: 100%;
    display: grid;
    place-items: center;
    font-family:'Andika', sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 20px;
}

.forgot-desc{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.forgot-desc .desc p{
    font-size: .9em;
    width: auto;
    padding: 20px 45px;
    height: 8vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.email-textbox{
    justify-content: center;
    display: flex;
    align-items: center;
}
.email-textbox .textbox{
    
    width: 80%;
    padding: 12px 20px;
    border-color:  rgba(153, 153, 153, 0.223); 
    border-radius: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    border-radius: 10px;
 
    font-size: 1.1rem;
}

.email-textbox .textbox:focus{
    outline:none; 
    border-bottom-color:#006600; 
}

.submitbtn-pos{
    width: 100%;
   /* border: 3px solid orchid; */
    display: grid;
    place-items: center;
}

.submitbtn-pos .submitbtn{
    width: 80%;
    background-color:#1fc724; 
    color:white; 
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px; 
    border:none;  
    cursor:pointer; 
    border-radius: 10px; 
    margin-top: 30px;
    margin-bottom: 20px;
}

.forgotcode-desc{  
    display: flex;
    justify-content: center;
    align-items: center;
 
    margin: 0px 50px 15px;
}

.code-desc{  
    text-align: justify;
}

.pass-desc p{
    margin: 20px;
    font-size: 1em;
    text-align: center;
}

.forgotcode-desc .codedesc p{
    font-size: .9em;
    height: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.forgotcode-textbox{
    width: 100%;
    height: 10vh;
   /* border: 3px solid red;*/
    display: grid;
    place-items: center;
    font-size: 1.1rem;
}
.code-textbox{
    font-size: 1rem;
}
input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    border-color:  rgba(153, 153, 153, 0.223); 
    border-radius: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

input[type="text"]:focus{
    outline:none; 
    border-bottom-color:#006600; 
}

.submitcodebtn-pos{
    width: 100%;
    height: auto;
   /* border: 3px solid orchid; */
    display: grid;
    place-items: center;
}

input[type="submit"]{
    width: 80%;
    background-color:#1fc724; 
    color:white; 
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px; 
    border:none;  
    cursor:pointer; 
    border-radius: 10px;
}

input[type="submit"]:hover{
    background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
}

.forgotpass-desc{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  /*  border: 3px solid rgb(233, 175, 175);*/
}
.forgotpass-desc .pass-desc{
    font-size: 1rem;
    /* width: 45%; */
    height: 8vh;
    text-align: justify;
    text-align: center;
    /*border: 3px solid rgb(20, 1, 1);*/
}
.forgotpass-textbox{
    width: 100%;
    height: 10vh;
   /* border: 3px solid red;*/
    display: grid;
    place-items: center;
    position: relative;

}
.pass-icon{
    position: absolute;
    top:28px;
    right: 55px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.forgotpass-textbox .pass-textbox{
    font-size: 1.1rem;
    width: 80%;
    padding: 12px 20px;
    border-color:  rgba(153, 153, 153, 0.223); 
    border-radius: 10px; 
    font-family: Arial, Helvetica, sans-serif;
}

.forgot-title label{
    height: 12%;
    width: 100%;
    display: grid;
    place-items: center;
    font-family:'Andika', sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
}

.resetpassbtn-pos{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.resetpassbtn-pos .resetpass{
    width: 80%;
    background-color:#1fc724; 
    color:white; 
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px; 
    border:none;  
    cursor:pointer; 
    border-radius: 10px;
    
}

.back-button {
    background: none;
    color: black;
    border: none;
    margin-right: 90%;
    padding: 10px;
    cursor: pointer;
  }
  
  .back-button i {
    margin-right: 5px;
  }
  