* {
    box-sizing: border-box;
    margin: 0;

}

.faqs-section{
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}
.faqs-title{
    font-size: 2.3rem;
    margin: 5rem 0 0 0;
    text-transform: capitalize;
}

.hr-one {
    margin: 20px auto;
     width: 730px;
     border: 0;
     height: 2px;
     background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(121, 121, 121, 0.96), rgba(255, 255, 255, 0));
 }
 
 .h50 {
     clear: both;
     height: 20px;
 }

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom:1rem;
    border-bottom: 2px solid black;
    cursor:pointer;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h3 {
   font-size: 1.2rem;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease;
}
.answer p{
    padding-top: 1rem;
    line-height: 1;
    font-size: 1rem;
    text-align: justify;
}
.faq.active .answer{
    max-height: 300px;
}
svg{
   transform:  rotate( 90deg);
}
.faq.active svg{
    transform:  rotate( 0deg);
 }