*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-container{
    border-radius: 10px;    
    border: solid #36f90f ; 
    width: 30%;
    max-height: auto;
    padding: 3em;
    padding-top: 2em;
}

.title-container{
    width: 100%;
    margin: 15px 0 50px 0;
}

.title-container h2{
    text-align: center;
}

form input:focus{
    outline:none; 
    border-bottom-color:#006600;
}

form input{
    font-size: 1.1rem;
    width: 100%;
    padding: 12px 20px;
    border-color:  rgba(153, 153, 153, 0.223); 
    border-radius: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0  20px;
}

#firstname, #middlename, #lastname{
    text-transform: capitalize;
    
}

#password{
    margin-bottom: 10px;
}

.password-pos{
    position: relative;
}
.pass-icon{
    position: absolute;
    top:43px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.btn-pos{
    width: 100%;
   display: flex;
   justify-content: center;
    place-items: center;
}

.save-btn{
    width: 80%;
    background-color:#1fc724; 
    color:white; 
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px; 
    border:none;  
    cursor:pointer; 
    border-radius: 10px; 
}

.save-btn:hover{
    background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
}

.back-button{
    background: none;
      color: black;
      border: none;
      margin-right: 90%;
      padding: 10px;
      cursor: pointer;
  }

  .back-button i {
    margin-right: 5px;
  }