*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
::-webkit-scrollbar {
    width: 8px; 
  }
  
  ::-webkit-scrollbar-thumb {
  background: #A9A9A9; 
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
  background: #f1f1f1; 
  }


.gallery-sec{
    padding: 2em 0;
    width: 100%;
    height: auto;

}
.gallery-sec .gallery-container{
    width: 100%;
    height: auto;

  
}

.image-slider-pos{
    width: 100%;
    height: 50vh;
    
}
.image-slider-pos .image-slider-container{
    margin: 0 auto;
}

.slider-container{
    width: 100%;
    height: 50vh;
}
.img-box{
    width: 100%;
}
.swiper-wrapper{
    /* width: 100%; */
    height: 40vh;
    /* border: 3px solid purple; */
}
.img-box img{
    /* max-height: 100%; */
    padding: 5px;
    height: 40vh;
    border-radius: 10px;
    /* border: 3px solid greenyellow; */
}

.card-slider{
    width: 78%;
    margin: auto;
 
}
.gallery-container .gallery-desc{
    width: 100%;
    height: 15vh;
    /* border: 3px solid rgb(205, 185, 185);  */
}
.gallery-desc h1{
    text-align: center;
    line-height: 30px;
    font-family:  Arial, sans-serif;
}
.gallery-sec .resort-details-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  

}
.category-container{
    width: 30%;
    height: auto;
 
}
.title-description-container {
    width: 100%;
    height: 57vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /* Adjusted from wrap to nowrap */
    /* border: solid 2px lightskyblue; */
}

.cat-title {
    /* border: 2px solid darkcyan; */
    width: 100%;
    height: 10vh;
    color: #126234;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hr-one {
    margin: 5px auto;
     width: 340px;
     border: 0;
     height: 2px;
     background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(121, 121, 121, 0.96), rgba(255, 255, 255, 0));
 }
 
 .h50 {
     clear: both;
     height: 50px;
 }
 
.cat-description {
  
    width: 100%;
    height: auto;
    color: #126234;
    display: flex;
    justify-content: center;
    align-items: center;    
   
   
}

.cat-description p {
    width: 65%;
    text-align: justify;
 
}
/* .space{
   
} */

.cards-images{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 
}
.cat-images {
    width: 23%;
    height: 45vh;
    background: #126234;
    object-fit: cover;
    margin-bottom: 5em;
    transition: transform 0.8s ease;
    overflow: hidden;
	transition: transform 0.5s ease;

    &:hover {
		transform: scale(1.2);
	}

	&--inverted:hover {
		transform: scale(0.96);
	}
}

.cat-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s ease;
}

